
<div style="padding: .5em;">
    <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    <!-- <h2>Your Todos</h2>   -->
</div>
<div  *ngIf="this.todos.length===0; else elseBlock">
    <h1 style="text-align: center;">Nothing to display ...</h1>
</div>

<ng-template #elseBlock >
    <div class="sort-button">
        <h2 style="color: rgb(255, 255, 255);">Sort:</h2>
        <button class="btn btn-primary" (click)="sortByPriority()">Priority</button>
        <button class="btn btn-primary" (click)="sortByDate()">Date</button>
        <button class="btn btn-primary" (click)="downloadCSV()">Download CSV</button>
    </div>
    <div class="todos-list" *ngFor ="let  todo of todos">
        <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)"></app-todo-item>
    </div>    
</ng-template>  

