.todos-list{
    display: flex;
    flex-direction: column;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.sort-button{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sort-button .btn{
    height: 3em;
    width: 10em;
    /* background-color: rgb(32, 50, 44); */
    background-color: #444;

    border: .9px solid rgba(165, 220, 220, 0.2);
    border-radius: 20px;
}
.sort-button .btn:hover{
    background-color: rgba(210, 230, 230, 0.2);
    color: black;
    border-radius: 1px solid rgb(32, 50, 44);
}

@media only screen and (max-width: 767px) {
    .sort-button .btn{
        height: 4em;
        width: 8em;
        font-size: .8em;
        background-color: rgb(32, 50, 44);
        border: .9px solid rgba(165, 220, 220, 0.2);
        border-radius: 20px;
    }
}

